@page "/contact"

<PageTitle>SAVETHEFONZ.COM - Contact</PageTitle>

<div class="centered-content">
    <img src="images/fonzjumptheshark.jpg" alt="Fonzie Water Skiing" class="contact-image mb-4" />
    <a href="mailto:savethefonz@gmail.com" class="contact-email">
        savethefonz@gmail.com
    </a>
</div>