@page "/purchase"

<PageTitle>SAVETHEFONZ.COM - Purchase</PageTitle>

<div class="centered-content">
    <a href="https://www.target.com/p/happy-days-seasons-1-6-dvd/-/A-90657522#lnk=sametab"
       target="_blank"
       class="purchase-link">
        https://www.target.com/p/happy-days-seasons-1-6-dvd/-/A-90657522#lnk=sametab
    </a>

    <a href="https://www.walmart.com/ip/Happy-Days-Seasons-1-6-DVD-Paramount-Comedy/703569220?classType=REGULAR&from=/search"
       target="_blank"
       class="purchase-link">
        https://www.walmart.com/ip/Happy-Days-Seasons-1-6-DVD-Paramount-Comedy/703569220?classType=REGULAR&amp;from=/search
    </a>

    <a href="https://www.barnesandnoble.com/w/dvd-happy-days-seasons-1-6/35386468?ean=0032429350015"
       target="_blank"
       class="purchase-link">
        https://www.barnesandnoble.com/w/dvd-happy-days-seasons-1-6/35386468?ean=0032429350015
    </a>

    <a href="https://a.co/d/i9CDmkB"
       target="_blank"
       class="purchase-link">
        https://a.co/d/i9CDmkB
    </a>
    
</div>
