@page "/video"

<PageTitle>SAVETHEFONZ.COM - Video</PageTitle>

<div class="centered-content">
    <div class="video-placeholder">
        @* This creates the sky and grass landscape placeholder shown in the wireframe *@
    </div>
</div>
