@page "/video"

<PageTitle>SAVETHEFONZ.COM - Video</PageTitle>

<div class="centered-content">
    <div class="video-container">
        <iframe src="https://www.youtube-nocookie.com/embed/dQw4w9WgXcQ?playsinline=1&controls=1&rel=0&modestbranding=1"
                title="Save The Fonz Video"
                frameborder="0"
                loading="lazy"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen"
                allowfullscreen="true"
                webkitallowfullscreen="true"
                mozallowfullscreen="true">
        </iframe>
    </div>
</div>