name: Deploy Blazor WASM to GitHub Pages
on:
  push:
    branches: [ "main" ]
jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v4
        
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
          
      - name: Publish .NET Core Project
        run: dotnet publish SaveTheFonz/SaveTheFonz.csproj -c Release -o release
        
      - name: Update base href for GitHub Pages
        run: sed -i 's|<base href="/" />|<base href="/SaveTheFonz/" />|g' release/wwwroot/index.html
        
      - name: Add .nojekyll
        run: touch release/wwwroot/.nojekyll
        
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: release/wwwroot